@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

/* Global styles */
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter Tight Regular', sans-serif;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: 'Inter Tight Semibold', sans-serif;
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 60ch;
}