
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p, li, figcaption {
    text-wrap: pretty;
    max-width: 60ch;
}