---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../sections/Hero.astro"
import Services from "../sections/Services.astro"
import Features from "../sections/Features.astro"
import Testimonial from "../sections/Testimonial.astro"
import Cta from "../components/Cta.astro"
---
<BaseLayout>
	<main>
		<Hero />
		<Services />
		<Features />
		<Testimonial />
		<Cta />
	</main>
</BaseLayout>